@import "properties.less";

.test-base {
  -test-should: generate a single prefixless property;
  -test-check: there is only a single one;
  .property(user-select, none);
}

.test-prefixes {
  -test-should: generate a set of properties;
  .property(user-select, none, "webkit moz o");
}

.test-prefixes-no-base {
  -test-should: generate a set of properties without the prefixless one;
  .property(user-select, none, "webkit moz o", false);
}

.test-stupid {
  -test-should: generate only the -less-property;
  .property(user-select, none, "", false);
}

.test-compound {
  -test-should: handle a list;
  .property(transition, all .5s ease, "webkit moz o");
}

.test-compound-literal {
  -test-should: handle a literal;
  .property(transition, ~"all .5s ease", "webkit moz o");
}

.test-function {
  -test-should: handle a function;
  -test-check: the comma inside translate() gets preserved;
  .property(transform, translate(10px, 10px), "webkit moz o");
}

.test-function-param-preserve-second {
  -test-should: handle multiple functions;
  -test-check: the comma inside translate() gets preserved;
  .property(transform, scale(.5) translate(10px, 10px), "webkit moz o")
}

.test-function-param-preserve-first {
  -test-should: handle multiple functions;
  -test-check: the comma inside translate() gets preserved;
  .property(transform, translate(10px, 10px) scale(.5), "webkit moz o")
}

.test-function-param-preserve-double {
  -test-should: handle multiple functions;
  -test-check: the comma inside both translate() gets preserved;
  .property(transform, translate(10px, 10px) translate(10px, 10px), "webkit moz o");
}

.test-nested-compound {
  -test-should: handle variables;
  @v1: .5s;
  @v2: all @v1 ease;
  .property(transition, @v2, "webkit moz o");
}
